<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond $1 !^(index\.php|resources|robots\.txt)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L,QSA]

RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|uploads|favicon.png)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]
#RewriteRule ^(.*)$ ./index.php/{controller}/$1 [L]

</IfModule>

# Set the CodeIgniter environment.
# Uncomment ONE of the lines below depending on the server:
#   - 'local' for local development
#   - 'live'  for the production server
# If neither is set, index.php auto-detects based on SERVER_NAME.
#
# <IfModule mod_env.c>
#     SetEnv CI_ENV local
# </IfModule>