.accordion-content i.plus6{
    color:var(--blue);
}
.accordion-content i.plus7{
    color:var(--green);
}
.accordion-content i.plus8{
    color:var(--pink);
}
.accordion-content i.plus9{
    color:var(--blue);
}
